.App {
  margin: 10% 0;
  
}

.total-info {
  float:left;
  margin-right: 80px;
  border:1px solid #ccc;
}

.cloud {
  background-color: #ccc;
}

.comment {
  margin-top: 50px;
  border:1px solid #ccc;
  width: 50%;
  margin-right: 100px;
}

.gender {
  margin-top: 50px;
  border:1px solid #ccc;
  width: 30%;
}

.hot {
  margin-top: 50px;
  border:1px solid #ccc;
  width: 50%;
  margin-right: 100px;
}